@CHARSET "ISO-8859-1";

body {
	background-color: #FFFFFF; 
	height: 100%;
	padding-left: 20%;
	padding-right: 15%;
}

p, ul, dl, ol, td, dt, dd, li, th, h4, h2, h3, h4, h5, div {
	font-family: Arial, sans-serif;
	font-size: 11pt;
}

li{
	padding-bottom: 10px;
}

img.title {
	width:250px;
	height:100px;
	margin: 0px;
}

table {
	background: transparent;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 30px;
	border-spacing: 2px;
	border: solid 2px #000000; 
}

td {
	background-color: #fff4b6; 
	padding: 6px;
	border: solid 1px #000000; 
}

tr {
	background-color: #ffe1a4;
	padding: 6px;
	border: solid 1px #000000; 
	text-align: center;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 24px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
}

h2 {
	margin-top: 1cm;
	width: 100%;
	text-align: left;
	font-weight: bold;
	background-color: #ccf4ff;
	padding-left: 40px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-left: solid 2px #EC9E00;
	border-bottom: solid 2px #EC9E00;
	clear: left;
}

h3 {
	width: 100%;
	text-align: left;
	color: #EC9E00;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #EC9E00;
	font-weight: bold;
	clear: left;
}

h4, .h4 {
	padding-left: 5%;
	font-size: 20px;
	width: 100%;
	color: #090275;
	font-weight: bold;
}

h2, h3, h5, h6 {
	clear: left;
}

div.cadre {	/* cadre texte */
	background-color: #d9f6ff;
	border: solid 2px #000000;
	margin-top: 10px;
	border-style: solid;
	border-width: 2px;
	vertical-align: bottom;
	padding: 2px;
	padding-left: 20px;
}

div.liste {
	padding-left: 10%;
}

p.new {		/* titre haut de page */
	font-family: Arial,sans-serif;
	font-size: large;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 30px;
	border-left: solid 5px #152585;
	border-bottom: solid 5px #152585;
	border-right: solid 5px #152585;
	margin-left: 40px;
	padding-left: 10px;
}


.leftFrame { /* menu gauche */
		position: absolute;
		left: 3%;
		top:20%;
		width:15%;
}

div.menu{
	background-color: #c6eefb;
	border: solid 2px #000000;
	text-align: center;	
}

a.menu1 {
	font-size:13px;
	margin:0px;
	padding: 2px 0px 2px 0px;
	display: block;
	text-align: center;	
	text-decoration: none;
	background-color: #d7ffff;
	height: 16px;
	width:100%;
	border-bottom: 1px solid #5973f4;
}

a.menu2 {
	font-size:13px;
	margin:0px;
	padding: 2px 0px 2px 0px;
	display: block;
	text-decoration: none;
	text-align: center;	
	background-color: #93f6f9;
	height: 16px;
	width:100%;
	border-bottom: 1px solid #5973f4;
}

a:hover{
	color:#000000;
	background-color:#FFFFFF;
}
